{
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["^react", "^(?!(@\\/|\\.+\\/))", "^@/", "<THIRD_PARTY_MODULES>"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
